.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #f1f1f1;
    width: 50%;

}

.search input {
    border: none;
    outline: none;
    font-size: 1.2em;
    font-weight: 500;
    width: 100%;
}


.search button {
    padding: 0.7rem 1rem;
    background-color: var(--main-color);
    font-size: 1rem;
    font-weight: bold;
    color: #ddd;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}